.input {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  &:focus-within {
    --input__placehodler-opacity: 0;
  }
}

.input__label {
  margin-bottom: 6px;
}

.input--fullwidth {
  width: 100%;
}

.input__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--GRAY4);
  height: var(--input__height, 48px);
  padding: 0 20px;
  border-radius: 3px;
}

.input__placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: var(--input__placehodler-opacity, 1);
  font-size: 16px;
  color: var(--GRAY4);
  pointer-events: none;
  .input--with-icon & {
    text-indent: 32px;
  }
}

.input__icon {
  margin: 0 20px 0 0;
}

.input__control {
  appearance: none;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  &:not([value='']) + span {
    --input__placehodler-opacity: 0;
  }
}
