@import '../../sass-helpers/media';

.entity {
}

.entity__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  padding: 0 32px 0 29px;
  box-shadow: var(--entity-shadow, 0 2px 4px rgba(0, 0, 0, 0.15));
  &:hover {
    --entity-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    --entity-hover-display: block;
  }
}

.entity__hover {
  display: var(--entity-hover-display, none);
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(229, 229, 229, 1);
  font-size: 7px;
}

.entity__info {
  display: flex;
  align-items: center;
}

.entity__type {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.entity__name {
  margin-right: 18px;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entity__folder-sign {
  position: relative;
  font-size: 12px;
  .entity--open > .entity__main & {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }
}

.entity__meta {
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 38%;
}

.entity__time {
  display: none;
  @include media('>=520px') {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(196, 196, 196, 1);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.entity__menu {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  font-size: 22px;
  &:hover {
    cursor: pointer;
  }
}

.entity__inner {
  margin: 0 0 4px 0;
  padding: 0 0 0 5%;
  display: none;
  .entity--open > & {
    display: block;
  }
}
