.practical {
  width: 100%;
  max-width: 841px;
}

.practical__header {
  display: grid;
  grid-template-columns: 54.3% 32%;
  justify-content: space-between;
  align-items: center;
}

.practical__controls {
  display: grid;
  grid-template-columns: 49% 42%;
  justify-content: space-between;
}

.practical__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
  li + li {
    margin-top: 3px;
  }
}
