@import '../../../src/sass-helpers/media';

.practical {
  width: 100%;
  max-width: 841px;
}

.practical__header {
  display: grid;
  grid-template-areas:
    'search'
    'controls';
  grid-gap: 24px;
  grid-template-columns: 100%;
  justify-content: space-between;
  align-items: center;
  @include media('>=desktop') {
    grid-template-areas: 'search controls';
    grid-template-columns: auto auto;
  }
}

.practical__search {
  grid-area: search;
}

.practical__controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: 126px 107px;
  justify-content: flex-start;
  grid-gap: 24px;
  //@include media('>=desktop') {
  //  justify-content: space-between;
  //}
}

.practical__list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
  li + li {
    margin-top: 3px;
  }
}
