@import '../../../src/sass-helpers/media';

.practical {
  --practical__header_height: 110px;
  display: grid;
  grid-template-rows: var(--practical__header_height) calc(
      100% - var(--practical__header_height)
    );
  width: 100%;
  max-width: 841px;
  @include media('>=desktop') {
    --practical__header_height: 48px;
  }
}

.practical__header {
  display: grid;
  grid-template-areas:
    'search'
    'controls';
  grid-gap: 24px;
  grid-template-columns: 100%;
  justify-content: space-between;
  align-items: center;
  @include media('>=desktop') {
    grid-template-areas: 'search controls';
    grid-template-columns: auto auto;
  }
}

.practical__body {
  padding: 50px 0 0;
}

.practical__content {
  height: 100%;
  overflow: auto;
}

.practical__search {
  grid-area: search;
}

.practical__controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: 126px 107px;
  justify-content: space-around;
  @include media('>=tablet') {
    grid-template-columns: 126px 107px;
    grid-gap: 24px;
    justify-content: flex-start;
  }
  @include media('>=desktop') {
    justify-content: space-between;
  }
}

.practical__list {
  padding: 0;
  list-style: none;
  li + li {
    margin-top: 3px;
  }
}
