.aside {
  display: grid;
  grid-template-rows: 171px auto;
  width: 100%;
  height: 100%;
  background-color: var(--GRAY1);
  color: var(--GRAY2);
}

.aside__logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.aside__menu {
  --menu__btn-height: 50px;

  padding: 48px 35px 22px 36px;
  overflow: auto;
}
