.layout {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main';
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  background-color: var(--GRAY3);
}

.layout__aside {
  grid-area: aside;
}

.layout__main {
  grid-area: main;
  margin: 41px 39px 0 41px;
}

.layout__header {
  grid-area: header;
}
