.files-tree {
}

.files-tree__plot {
  position: relative;
}

.files-tree__plot--is-over > .files-tree__item > .entity > .entity__main {
  box-shadow: 0 0 0 2px var(--COLOR4) inset;
}

.files-tree__plot--root.files-tree__plot--is-over {
  padding-bottom: 50px;
}
