@font-face {
  font-family: 'GT Walsheim';
  font-weight: 400;
  src: url('./assests/fonts/GT-Walsheim-Regular-Trial.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 700;
  src: url('./assests/fonts/GT-Walsheim-Bold-Trial.woff2') format('woff2');
}

:root {
  /* colors */
  --GRAY1: #2c2c2c;
  --GRAY2: #fff;
  --GRAY3: #efefef;
  --GRAY4: #c4c4c4;
  --COLOR1: #00ff9d;
  --COLOR2: #26009e;
  --COLOR3: #250d71;
  --COLOR4: #18C100;
  /* layout */
  --HEDADER_HEIGHT: 78px;
  --ASIDE_WIDTH: 300px;
  /* z-index */
  --Z-BASE: 1;
  --Z-ACTIVE: 5;
  --Z-FIXED: 10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'GT Walsheim', sans-serif;
}

#root {
  height: 100%;
}
